
.sidebar {
    display: none;
    margin: 10px 0;

    @include breakpoint_min( $large_screen ) {
        display: block;
    }

    .link {
        h2 {
            pointer-events: all;
        }
    }
}