
// header styles go here..
#header {
    position: fixed;
    user-select: none;
    width: 100vw;
    height: 37px;
    z-index: 10;

    @include breakpoint_min( $large_screen ) {
        height: unset;
        border-bottom: 2px solid $app_accent;
    }

    .links {
        display: flex;
        margin: auto;
        width: 60vw;
        color: $header_link;
        border-bottom: 2px solid $app_accent;

        @include breakpoint_max( $small_screen ) {
            width: 100vw;
        }

        @include breakpoint_min( $large_screen ) {
            border-bottom: none;
        }
    
        .link {
            list-style: none;
            box-sizing: border-box;
            text-align: center;
            width: -webkit-fill-available;
            margin: 0 10px;
            padding: 10px;

            h2 {
                cursor: pointer;
                width: fit-content;
                margin: auto;
                text-decoration: none;
                font-size: 1rem;
                padding: 3px 10px;
                color: $header_link;
      
                &:active {
                    color: darken( $header_link, 10% );
                }
            }

            &.inactive {
                text-decoration: line-through;

                h2 {
                    cursor: not-allowed;
                    color: darken( $header_link, 50% );
                }
            }

            &.selected h2 { // show selected page with it underlined..
                cursor: default;
                color: $selected_link_text;
                border-bottom: 2px solid $selected_link_underline;

                &:active {
                    color: inherit;
                }
            }
        }
    }

    .accent {
        position: absolute;
        box-sizing: border-box;
        width: 20vw;
        height: 40px;
        bottom: -30px;
        border-radius: 0 10px 10px 0;
        border: 2px solid $app_accent;
        border-left: none;
        background: $header_accent_background;

        h1 {
            text-align: right;
            padding: 0 10px;
            text-shadow: 
            1px 1px 1px $app_accent,
            -1px -1px 1px $app_accent,
            1px -1px 1px $app_accent,
            -1px 1px 1px $app_accent;
        }

        &.right {
            right: 0;
            border-radius: 10px 0 0 10px;
            border: 2px solid $app_accent;
            border-right: none;

            h1 {
                text-align: left;
            }
        }

        @include breakpoint_max( $small_screen ) {
            display: none;
        }

        @include breakpoint_min( $large_screen ) {
            display: none;
        }
    }
}