
// header styles go here..
#header {
    background: $color_container_background;

    .links {
        display: flex;
        margin: auto;
        width: 60vw;
        color: $color_header_link;

        @include breakpoint_max( $small_screen ) {
            width: 100vw;
        }
    
        .link {
            user-select: none;
            list-style: none;
            text-align: center;
            width: -webkit-fill-available;
            padding: 10px;
            margin: 0 10px;

            a {
                cursor: pointer;
                text-decoration: none;
                color: $color_header_link;
      
                &:active {
                    color: darken( $color_header_link, 10% );
                }

                &[ href="#" ] {
                    cursor: default;
                }

                @include breakpoint_min( $large_screen ) {
                    font-size: 150%;
                    line-height: 38px;
                }
            }

            &.inactive {
                text-decoration: line-through;

                a {
                    cursor: not-allowed;
                    color: darken( $color_header_link, 50% );
                }
            }

            &.selected a { // show selected page with it underlined..
                border-bottom: 2px solid $color_selected_link_underline;
                padding: 3px 10px;

                &:active {
                    color: inherit;
                }
            }
        }
    }

    .accent {
        position: absolute;
        width: 20vw;
        height: 20px;
        bottom: -20px;
        border-radius: 0 0 10px 0;
        background: $color_container_background;

        .background {
            position: absolute;
            right: -20px;
            height: 20px;
            width: 20px;
            background: $color_container_background;

            .curve {
                border-radius: 50% 0 0 0;
                width: 100%;
                height: 100%;
                background: $color_background;
            }
        }

        &.right {
            right: 0;
            border-radius: 0 0 0 10px;

            .background {
                left: -20px;

                .curve {
                    border-radius: 0 50% 0 0;
                }
            }
        }

        @include breakpoint_max( $small_screen ) {
            display: none;
        }

        @include breakpoint_min( $large_screen ) {
            display: none;
        }
    }
}