
@import "./_shared/variables";
@import "./_shared/breakpoints";

// put global styles and imports here..
body {
  margin: 0;

  #root {
    position: absolute;
    width: 100%;
    background: $color_background;

    .app {
      // reset browser altered DOM elements
      h1, h2, h3, h4, h5, h6, ul, ol, p {
        margin: 0;
        padding: 0;
      }

      // header:
      @import "./header/header";

      // page defaults:
      .pages {
        position: absolute;
        width: 100vw;

        .page {
          margin: auto;
          box-sizing: border-box;
          width: 60vw;
          padding: 10px;

          @include breakpoint_max( $small_screen ) {
            width: 100vw;
          }
  
          h2 {
            text-align: center;
            color: $color_text;
          }
        }
      }

      // page specific styles:
      @import "./pages/home/home";
      @import "./pages/search/search";
    }
  }
}
