
@import "./_shared/variables";
@import "./_shared/breakpoints";

// put global styles and imports here..
body {
  margin: 0;
  background-position: top;
  overflow: hidden;
  background-image: url(./_assets/RetroBackground.png);

  #root {
    position: absolute;
    width: 100%;

    .app {
      // reset browser altered DOM elements
      h1, h2, h3, h4, h5, h6, ul, ol, p {
        margin: 0;
        padding: 0;
      }

      // header:
      @import "./header/header";

      // page defaults:
      .pages {
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 38px; // shift the distance of the headers height.
        left: -17px; // shift for scrollbar and calculate width, so we don't lose ratio.
        width: calc( 100% + 17px ); // account for scrollbar
        height: calc( 100vh - 38px ); // subtract header height

        .page {
          position: relative;
          margin: auto;
          box-sizing: border-box;
          left: 17px; // push back to center
          width: 60%;
          padding: 20px; // need at least 20px left-t0-right here because we're hiding the header curve when we scroll anything up past it
          padding-top: 40px;

          @include breakpoint_max( $small_screen ) {
            width: 100vw;
          }

          @include breakpoint_min( $large_screen ) {
            width: 100vw;
          }
  
          h2 {
            text-align: center;
            color: $text;
            text-shadow: 
              1px 1px 1px $text_shadow,
              -1px -1px 1px $text_shadow,
              1px -1px 1px $text_shadow,
              -1px 1px 1px $text_shadow;
          }
        }

        // scrollbar
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        
        &::-webkit-scrollbar {
          width: 17px; // this is usually the default size.
        }
        
        &::-webkit-scrollbar-thumb {
          background: transparent;
          border: 2px solid $app_accent;
          border-right: none;
          border-radius: 7.5px 0 0 7.5px;
        }
      }

      // page specific styles:
      @import "./pages/home/home";
      @import "./pages/search/search";
    }
  }
}
