
@import "./_shared/variables";
@import "./_shared/breakpoints";

// put global styles and imports here..
body {
  margin: 0;
  background-position: top;
  overflow: hidden;
  background-size: auto 100vh;
  background-image: url( './_assets/RetroBackground.png' );

  #root {
    position: absolute;
    width: 100%;

    .app {
      // reset browser altered DOM elements
      h1, h2, h3, h4, h5, h6, ul, ol, p {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        margin: 0;
        padding: 0;
        color: $text;
        text-shadow: 
          1px 1px 1px $text_shadow,
          -1px -1px 1px $text_shadow,
          1px -1px 1px $text_shadow,
          -1px 1px 1px $text_shadow;
      }

      h1, h2 {
        letter-spacing: 2px;
      }

      // header:
      @import "./header/header";

      // page defaults:
      .pages {
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 49px; // shift the distance of the headers height.
        left: -17px; // shift for scrollbar and calculate width, so we don't lose ratio.
        width: calc( 100% + 17px ); // account for scrollbar
        height: calc( 100vh - 49px ); // subtract header height shift

        .page {
          position: relative;
          margin: auto;
          box-sizing: border-box;
          left: 17px; // push back to center
          width: 80%;
          max-width: 1536px; // 80% of large screen width
          padding: 20px; // need at least 20px left-t0-right here because we're hiding the header curve when we scroll anything up past it
          padding-top: 40px;

          h3 {
            font-size: 1.8rem;
          }
        }

        // scrollbar
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        
        &::-webkit-scrollbar {
          cursor: pointer;
          width: 17px; // this is usually the default size.
        }
        
        &::-webkit-scrollbar-thumb {
          background: transparent;
          border: 2px solid $app_accent;
          border-right: none !important;
          border-radius: 7.5px 0 0 7.5px;
          box-shadow: 0 0 10px $app_accent_highlight;

          &:active {
            border: 2px solid $scrollbar_active;
            box-shadow: 0 0 10px $scrollbar_active_highlight;
          }
        }
      }

      // page specific styles:
      @import "./pages/home/home";
      @import "./pages/search/search";
      @import "./pages/login/login";
      @import "./pages/account/account";
    }
  }
}
