
#home {
    .games {
        display: grid;
        grid-template-columns: 33.33% 33.34% 33.33%;
        margin-top: 100px;

        @include breakpoint_min( 0px ) {
            grid-template-columns: 50% 50%;
        }

        @include breakpoint_max( $small_screen ) {
            grid-template-columns: 50% 50%;
        }

        @include breakpoint_min( $large_screen ) {
            grid-template-columns: 25% 25% 25% 25%;
        }

        // games parallax styles
        @import '../../gamesParallax/gamesParallax';
    }
    .click-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid $app_accent;
    }
    .box {
        border: 1px solid;
        border-color: $app_accent;
        padding: 20px;
        font-size: 30px;
        text-align: center;
            padding: 0 10px;
            text-shadow: 
            1px 1px 1px $app_accent,
            -1px -1px 1px $app_accent,
            1px -1px 1px $app_accent,
            -1px 1px 1px $app_accent;
        border-radius: 25px;
    }
}

