

#home {
    .games {
        display: grid;
        grid-row-gap: 20px;
        grid-template-columns: 33.33% 33.34% 33.33%;
        margin-top: 50px;

        .game {
            position: relative;

            img {
                box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
                height: 12vw;
            }
        }
    }
}

