
.game {
    position: relative;
    user-select: none;
    width: fit-content;
    height: 100%;

    img {
        float: left; // fit-content on the vertical
        height: 12vw;

        @include breakpoint_max( $small_screen ) {
            height: 20vw;
        }
    }

    &.zero {
        z-index: 1;

        img {
            opacity: 0.95;
            box-shadow: 0 6px 10px 0 rgb(0 0 0 / 60%), 0 3px 10px 0 rgb(0 0 0 / 50%);
        }
    }

    &.one {
        z-index: 2;

        img {
            opacity: 0.9;
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 45%), 0 4.5px 15px 0 rgb(0 0 0 / 40%);
        }
    }

    &.two {
        z-index: 3;

        img {
            opacity: 0.85;
            box-shadow: 0 10px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 30%);
        }
    }

    &:hover {
        z-index: 4;
        
        img {
            opacity: 1;
        }
    }
}