
#search_count {
    width: 25%;
    float: right;
    text-align: left;

    span {
        position: absolute;
        text-align: center;

        hr {
            margin: 0;
        }
    }

    @include breakpoint_max( $small_screen ) {
        display: none;
    }
}

#search {
    display: flex;
    justify-content: center;

    form {
        width: 40vw;
        max-width: 768px;

        @include breakpoint_max( $small_screen ) {
            position: absolute;
            width: 100%;
        }

        input, input::placeholder {
            text-shadow: 
            1px 1px 1px $text_shadow,
            -1px -1px 1px $text_shadow,
            1px -1px 1px $text_shadow,
            -1px 1px 1px $text_shadow;
        }

        input {
            position: fixed;
            outline: auto;
            box-sizing: border-box;
            text-align: center;
            background: transparent;
            color: $text;
            font-size: 1.2rem;
            outline-color: $app_accent;
            border: 4px solid $color_black;
            box-shadow: 0 0 10px $app_accent_highlight;
            max-width: 768px; // 40% of 1920
            width: 40%;
            height: 40px;
            z-index: 99;
    
            @include breakpoint_max( $small_screen ) {
                position: absolute;
                width: 100%;
            }
    
            &:focus {
                outline-color: $color_yellow;
                box-shadow: 0 0 10px $color_pink;
            }
    
            &::placeholder {
                color: $text;
                opacity: 0.5;
            }
        }
    }

    .search_icons {
        position: fixed;
        pointer-events: none;
        max-width: 768px;
        width: 40vw;
        z-index: 100;

        svg {
            pointer-events: all;
            font-size: 32px;
            padding-top: 4px;
            padding-left: 4px;
            color: $color_white;
        }

        @include breakpoint_max( $small_screen ) {
            position: absolute;
            width: 100%;
            top: 44px;
            
            svg {
                padding-top: 0;
            }
        }

        .pagination_arrows {
            position: relative;
            box-sizing: border-box;
            padding: 6px 18px;
            padding-bottom: 0;
            width: 100%;
            height: 46px;

            .left svg, .right svg {
                cursor: pointer;
                filter: drop-shadow(0 0 5px black);
                stroke: $color_white;
                stroke-width: 0.75px;
                pointer-events: all;
                color: transparent;
                padding: 0;
                font-size: 50px;

                &:hover {
                    stroke: $icon_hover;
                }

                &:active {
                    stroke: $icon_active;
                    transform: scale( 0.95 );
                }
            }

            .left svg {
                float: left;
            }

            .right svg {
                float: right;
            }
        }
    }

    .games {
        position: absolute;
        display: grid;
        grid-template-columns: 33.33% 33.34% 33.33%;
        margin-top: 200px;
        width: 100%;

        @include breakpoint_max( $small_screen ) {
            grid-template-columns: 50% 50%;
        }

        @include breakpoint_min( $large_screen ) {
            grid-template-columns: 25% 25% 25% 25%;
        }

        // games parallax styles
        @import '../../gamesParallax/gamesParallax';
    }
}
