
// colors
$color_neon: #47FFFF;
$color_pink: #DC17B7;
$color_yellow: #F7BD12;
$color_purple: #220040;
$color_white: rgb(240,240,240);
$color_black: #333;

// header
$header_accent_background: $color_purple;
$header_link: $color_white;
$selected_link_underline: $color_pink;
$selected_link_text: $color_yellow;

// page text
$text_shadow: $color_black;
$text: $color_white;

// app accents
$app_accent: $color_neon;
$app_accent_highlight: $color_white;