
$color_neon: #47FFFF;

// background:
$color_background: rgb(30, 0, 55);
$color_header_link: rgb(240,240,240);
$color_selected_link_underline: #F3A625;

// foreground:
$color_container_background: #220040;
$color_text: $color_header_link;