
#accountLogin {
    
    .login-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid $app_accent;

        }
        .box {
            border: 1px solid;
            border-color: $app_accent;
            padding: 20px;
            font-size: 30px;
            text-align: center;
                padding: 0 10px;
                text-shadow: 
                1px 1px 1px $app_accent,
                -1px -1px 1px $app_accent,
                1px -1px 1px $app_accent,
                -1px 1px 1px $app_accent;
            border-radius: 25px;
        }
}